.sidebar-nav{
    margin-top: 20px;
    padding: 0;
    list-style: none; 
}

.nav 
{
    margin: 0 auto;
    margin-bottom: 50px;
    border: 1px solid #444;
    border-radius: 6px 8px;
    padding: 3px 7px;
}
.nav-list 
{
    list-style: none;
}
.nav-list-item li 
{
    
}
.body 
{
    padding: 40px;
    background: linear-gradient(rgb(129, 209, 159), rgb(31, 124, 88)) center fixed;
}